:root {
  --bleu: #5A86BF;
  --bleuciel: #7E9ABF;
  --taupe: #A67153;
  --marron: #A67C49;
  --clair: #C1C9D9;
  --blanc: #ffffff;
  --color-twitter:#1B95E0;
  --color-grey:#999;
  --color-dark:#000;
  --color-white:#fff;
  --color-light:#eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--clair);
}

.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.container {
  min-height: calc(100vh - 220px);
}
#masthead {
  /***************/
  .twitter-wrap{
    display:grid;
    grid-template-columns: 20% 50% 30%;
    position:relative;
  }
  .side-left{
    border-right:1px solid var(--color-light);
    position:fixed;
    height:100%;
    width:20%;
    text-align: right;
    z-index: 1;
  }
  .menu{
    .menu-item{
      padding:0px 20px;
      margin-bottom:0px;

      .menu-link{
        width: 55px;
        height: 55px;
        display: block;
        text-align: center;
        border-radius: 50%;
        margin-left: auto;

        &:hover{
          background: lighten var(--color-twitter);
          i{
            color: var(--color-twitter);
          }
          &.box{
            display: block !important;
          }
        }

        i{
          color:var(--color-dark);
          font-size:25px;
          line-height:55px;
        }

        &.active{
          i{
            color:var(--color-twitter);
          }
        }
      }

      .box{
        display: none;
        padding:20px;
        position:absolute;
        box-shadow:0px 0px 10px #ccc;
        background-color:#fff;
        margin-top:-240px;
        margin-left: 116px;
        width:300px;
        border-radius: 10px;
        text-align: left;
        z-index: 9;

        .name{
          font-size:16px;
          font-weight:600;
          margin-top:5px;
        }

        .username{
          color:var(--color-grey);
        }

        .bio{
          margin-top:10px;
          margin-bottom:10px;
        }

        .folow{
          display:flex;
          a{
            display: inline-block;
            margin-right: 10px;
            color:var(--color-grey);
            span{
              color:var(--color-dark) !important;
              font-weight: 600;
            }
          }
        }
      }

      &:hover{
        .user-img-30{
          border:2px solid var(--color-twitter);
        }
        .box{
          display: block;

        }
      }
    }
  }
}



.side-main{
  border-right:1px solid var(--color-light);
  position: absolute;
  width:75%;
  height:100%;
  margin-left: 20%;
  margin-top: 3.8rem;
  background-color: var(--color-light);
  z-index:- 1;
  .link-home{
    font-weight: 500;
    color: var(--color-dark);
    font-size: 20px;
  }
  .write-twit{
    margin-top: 60px;
    padding: 20px 10px;
    display: flex;
    background-color: var(--color-white);

    img{
      margin-bottom: 20px;
    }
    textarea{
      border:0;
      color:var(--color-grey);
      padding: 10px;
      width:100%;
      font-size: 20px;
      outline: 0 none;
    }
  }
}

#colophon {
  background-color: var(--bleu);
  color: var(--blanc);
  padding: 1rem 0;
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
  }
  th {
    background-color: #f2f2f2;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tr:hover {
    background-color: #f2f2f2;
  }
  a {
    text-decoration: none;
    color: #337ab7;
  }
  a:hover {
    color: #23527c;
  }
}

/* Styles pour le formulaire */
.wrapform {
  max-width: 400px;
  margin: 20px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  label {
    display: block;
    margin-bottom: 7.6px;
    font-weight: bold;
  }
  .error {
    color: red;
  }

  select,
  input {
    width: 85%;
    padding: 12px;
    margin-bottom: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  textarea {
    width: 85%;
    height: 150px;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
  }

  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #45a049;
    }
  }
}

.add-item {
  display: block;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}
.add-item:hover {
  background-color: #45a049;
}

h1 {
  text-align: center;
  padding: 1rem 0;
}

.pagination {
  display: flex;
  gap: .4rem;
}

/* Style pour la fiche de profil */
.profile-card {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;

  /* Style pour le titre */
  &__name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  /* Style pour le prénom */
  &__prename {
    font-size: 18px;
    color: #555;
    margin-bottom: 5px;
  }

  /* Style pour l'email */
  &__email {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
  }
}

.stats {
  width: 50%;
  margin: 20px auto;
  border-collapse: collapse;
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
  }
}




